<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347329392289-s91jp4st92ieg4pufpf5sp39jgsit9kt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347329392289-s91jp4st92ieg4pufpf5sp39jgsit9kt</string>
	<key>API_KEY</key>
	<string>AIzaSyDpssC7d86tZi2A2os6W-zNEmDLFDtGGCg</string>
	<key>GCM_SENDER_ID</key>
	<string>347329392289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Juicy99.LainChat</string>
	<key>PROJECT_ID</key>
	<string>lain-that</string>
	<key>STORAGE_BUCKET</key>
	<string>lain-that.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347329392289:ios:f852f9ec663e3a6a2e8ae0</string>
</dict>
</plist>